main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  min-height: 100vh;
  max-width: 1300px;
  padding-top: 100px;
  position: relative;
}

h1{
  color: white;
  margin-top: -40px;
  font-size: 4rem;
}

.container-left{
  flex:1;
  display: flex;
  justify-content: flex-start;
}

.content h1{
  font-size: 4rem;
  line-height: 4rem;
  color:  white;
  font-weight: 700;
  
}

.content p{
  color:  white;
  border-bottom: 1px solid white
}

#slogan-landing {
  width: 700px;
  margin-top: -10px;
}