.Review-Card {
  z-index: 1000;
}

.rc-container {
  margin-top: 0;
  width: min(100%, 500px);
  padding: 0.85rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(51, 51, 51, 0.9);
  border-radius: 16px;
}
