ul{
  margin: 0;
  width: 1800px;
  display: flex;
  justify-content: space-between;
}


.outer-postcard-container {
  margin-bottom: 0;
  height: 100px;
 /* margin-top: -20px; */
}

.postcard-container {
  background-color: rgba(51, 51, 51,0.8);
  backdrop-filter: blur(5px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-bottom: 2px solid #333333
}

