ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

li {
 display: flex;
  margin: 20px;
  padding: 0 20px;
  text-decoration: none;
  color: white;
  list-style-type: none;
}

ul li > a {
  text-decoration: none;  
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  color: #f3f4f6;
  position: relative;
}
li > a:visited {
  text-decoration: none;  
  color: #f3f4f6;
  cursor: pointer;
  transition: 0.3s;
}

li > a:hover {
  color: rgb(138,222,255);
  opacity: 1;
}


ul li > a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(138,222,255);
  transition: width .3s;
}

ul li > a:hover::after {
  width: 100%;
  transition: width .3s;
}

#logo{
  width: 90px;
  height: auto;
}

#hello-nav {
  width: 200px;
}