*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url("assets/images/cityscape.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding:  0;
  height: 100vh;
  width: 100%;
}

a{
  text-decoration: none;
}

a,
a:visited {
  color: #00d8ff
}

nav > ul {
  margin: 0;
  padding: 16px 32px;
}

.app-container{
  text-align: center;
}
