*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  box-sizing: border-box;
  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding:  0;
  height: 100vh;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url("assets/images/cityscape.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #242424; */


}

a{
  text-decoration: none;
}

a,
a:visited {
  color: #4299e1;
}

nav{
  position: fixed;
  top:  0; 
  left: 50%;  
  transform: translateX(-50%);
  width: 100%;
  height: 80px;;
  /* max-width: 2100px; */
  padding:  2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: rgba(51, 51, 51,0.8);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



nav > ul {
  margin: 0;
  padding: 16px 32px;
}

button{
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  gap: 1px;
  display: flex;
  /* background-color: transparent; */
}

.app-container{
  text-align: center;
}
