form {
  margin-top: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 50px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 0 2rem;
  justify-content: center;
}

.newpost-container{
  height: 100%;
  display: flex;
  padding: 28px 21px;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.newpost-container input, textarea, select{ 
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  resize: vertical;
  border-radius: 5px;
  margin: 7px 0px 14px 0px;
  border: none;
  outline: none;
  font-family:  sans-serif;
}

.newpost-container label {
  font-weight: 600;
  margin: 7px 30px 20px 0px;
}

.newpost-container button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;
  margin-right: 100px;
}



